<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="Keywords" content="">
<meta name="Description" content="">
<title></title>
<style type="text/css">
	* {
		margin: 0;
		padding: 0;
	}
	body {
		font-size: 12px;
		font-family: "微软雅黑";
		background: url(images/bg.gif);
	}
	div {
		width: 200px;
		height: 200px;
		border: 1px solid red;
		margin: 20px auto;
		overflow: visible;
	}
</style>
</head>
<body>
	<div>
		<p>pppppppppp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp
		pp</p>
		<p>pppppppppppppp</p>
		<p>pppppppppppppp</p>
		<p>pppppppppppppp</p>
		<p>pppppppppppppp</p>
		<p>pppppppppppppp</p>
		<p>pppppppppppppp</p>
		<p>pppppppppppppp</p>
		<p>pppppppppppppp</p>
		<p>pppppppppppppp</p>
		<p>pppppppppppppp</p>
		<p>pppppppppppppp</p>
		<p>pppppppppppppp</p>
		<p>pppppppppppppp</p>
		<p>pppppppppppppp</p>
		<p>pppppppppppppp</p>
		<p>pppppppppppppp</p>
		<p>pppppppppppppp</p>
		<p>pppppppppppppp</p>
		<p>pppppppppppppp</p>
		<p>pppppppppppppp</p>
		<p>pppppppppppppp</p>
		<p>pppppppppppppp</p>
		<p>pppppppppppppp</p>
		<p>pppppppppppppp</p>
		<p>pppppppppppppp</p>
		<p>pppppppppppppp</p>
		<p>pppppppppppppp</p>
	</div>
</body>
</html>
