<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="Keywords" content="">
<meta name="Description" content="">
<title>Document</title>
<style type="text/css">
	* {
		margin: 0;
		padding: 0;
	}
	body {
		font-size: 12px;
		font-family: "微软雅黑";
	}
	#sidebar {
		height: 600px;
		background: red;
		float: right;
	}
	#content {
		float: right;
		width: 200px;
		height: 600px;
		background: pink;
	}
</style>
</head>
<body>
	<div id="sidebar">sidebar</div>
	<div id="content">content</div>
</body>
</html>
